<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.quartz.mapper.MyJobDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.dev.quartz.entity.Job">
                    <id column="job_id" property="jobId" />
                    <result column="job_name" property="jobName" />
                    <result column="job_group" property="jobGroup" />
                    <result column="invoke_target" property="invokeTarget" />
                    <result column="cron_expression" property="cronExpression" />
                    <result column="misfire_policy" property="misfirePolicy" />
                    <result column="concurrent" property="concurrent" />
                    <result column="status" property="status" />
                    <result column="create_by" property="createBy" />
                    <result column="create_time" property="createTime" />
                    <result column="update_by" property="updateBy" />
                    <result column="update_time" property="updateTime" />
                    <result column="remark" property="remark" />
        </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        job_id, job_name, job_group, invoke_target, cron_expression, misfire_policy, concurrent, status, create_by, create_time, update_by, update_time, remark
    </sql>
</mapper>